<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Blog informativo || {% block title %}
            {% endblock title%}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_categories' 'tecnologia' %}">Tecnologia</a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_categories' 'filosofia' %}">Filosofia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_categories' 'politica' %}">Politica</a>
                </li>
                <a class="nav-link" href="{% url 'post_categories' 'outros' %}">Globalização</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-lg-4" action="/busca/">
                <input name="termo" value="" class="form-control mr-sm-2" type="search" placeholder="Pesquisar"
                    aria-label="Search">
            </form>
        </div>
    </div>
</nav>